__pycache__/
.venv/
.mypy_cache/
pyinstaller/
dist/
debian/rhasspy-asr-kaldi-hermes*
.vscode/
*.egg-info/
download/
.coverage
coverage.xml

/autom4te.cache/
/Makefile
/rhasspy-asr-kaldi-hermes
/config.status